In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./../../dataset/covid.csv')
df.head()

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,334805269,107162537,NaN,1166331.0,NaN,105293510.0,NaN,702696.0,849.0,320074,3484.0,1.180473e+09,3525848.0,Americas
1,India,Asia,1406631776,44992293,NaN,531886.0,NaN,44457720.0,NaN,2687.0,NaN,31986,378.0,9.307980e+08,661721.0,South-EastAsia
2,France,Europe,65584518,40105208,NaN,167424.0,NaN,39887439.0,NaN,50345.0,869.0,611504,2553.0,2.714902e+08,4139547.0,Europe
3,Germany,Europe,83883596,38428685,NaN,174352.0,NaN,38240600.0,NaN,13733.0,NaN,458119,2078.0,1.223324e+08,1458359.0,Europe
4,Brazil,South America,215353593,37625916,NaN,703291.0,NaN,36249161.0,NaN,673464.0,NaN,174717,3266.0,6.377617e+07,296146.0,Americas

In [3]:
# check if there any NaN values
df.isnull().sum()

Country/Region        0
Continent             0
Population            0
TotalCases            0
NewCases            222
TotalDeaths           4
NewDeaths           225
TotalRecovered       21
NewRecovered        215
ActiveCases          20
Serious,Critical     99
Tot Cases/1M pop      0
Deaths/1M pop         4
TotalTests           13
Tests/1M pop         13
WHO Region           31
dtype: int64

In [4]:
# Fill NA values with 0
df = df.fillna(1)

In [6]:
# Save as a csv file
df.to_csv('./../../dataset/covid.csv', index=False)